.ChatPage {
    background-color: white;
    height: 30000px;
    border-radius: 15px 0 0 0 ;
    .ChatPage-header {
       
        ul {
            width: 100%;
            padding: 0;
            margin: 0;
            // background-color: rgb(252, 207, 124);
            list-style: none;
            border-bottom: 1px solid rgb(252, 207, 124);
            > li {
                cursor: pointer;
                // background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                
                width: 13%;
                border-radius:  0 0 0 10px;
                > img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
            > li + li {
                border-left: 1px solid rgb(252, 207, 124);

            }
            >li:first-child {
                border-radius:  15px 0 0 0;
            }
            >li:nth-child(6) {
                border-radius:  0 0 0 10px;
                > i {
                margin-left: -20px;
                margin-left: -83px;
                padding: 2px;
                color: rgb(252, 207, 124);
                font-size: 10px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid rgb(252, 207, 124);
                }
            }

        }
    }
}
.active-chat {
    background-color:rgb(252, 207, 124) ;
    color: white;
}

.window-chat-item {
    width: 33%;
}
.no-chat-active {
    width: 100%;
    height: auto
}